<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'inicio:inicio' %}">Inicio</a></li>
            <li><a href="{% url 'app1:vista1_app1' %}">Vista 1 App1</a></li>
            <li><a href="{% url 'app1:vista2_app1' %}">Vista 2 App1</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <p>&copy; 2026 Mi Proyecto</p>
    </footer>
</body>
</html>